<div class="hasVoted">
    <p>You haven't voted yet</p>
    <p>You've voted!</p>
</div>

<div class="header">
    <h1><%= @question.question_text %></h1>
</div>

<% @question.options.each_with_index do |option, index| %>
    <p><%= option.option_text %></p>
    <p><%= pluralize(option.answers.count, "vote") %><br><br></p>
    <p><%= button_to '+1', question_option_upvote_path(@question, option), method: :post %></p>
<% end %>

<% if current_user.admin? %>
    <h2>Add Option</h2>
    <%= form_for([@question, @question.options.build]) do |f| %>
    <p>
        <%= f.label :option_text %><br />
        <%= f.text_field :option_text %>
    </p>
    <p>
        <%= f.submit %>
    </p>
    <% end %>

    <%= link_to 'Edit', edit_question_path(@question) %> |
    <%= link_to 'Back', questions_path %>

<% end %>