<div class="hasVoted">
    <% if Answer.exists?(:user_id => current_user.id, :question_id => @question.id) %>
        <p>You've voted!</p>
    <% else %>
        <p>You haven't voted yet, Vote for an option to see the results!</p>
    <% end %>
</div>

<div class="header">
    <h1><%= @question.question_text %></h1>
</div>

<% @question.options.each_with_index do |option, index| %>
    <p><%= option.option_text %></p>

    <% if Answer.exists?(:user_id => current_user.id, :question_id => @question.id) %>
        <p><%= pluralize(option.answers.count, "vote") %></p>
    <% else %>
    <p><%= button_to 'Vote', question_option_upvote_path(@question, option), method: :post %></p><br><br>
    <% end %>
<% end %>

<% if current_user.admin? %>
    <h2>Add Option</h2>
    <%= form_for([@question, @question.options.build]) do |f| %>
    <p>
        <%= f.label :option_text %><br />
        <%= f.text_field :option_text %>
    </p>
    <p>
        <%= f.submit %>
    </p>
    <% end %>

    <%= link_to 'Edit', edit_question_path(@question) %> |
    <%= link_to 'Back', questions_path %>

<% end %>