<!DOCTYPE html>
<html>
<head>
    <title>Benchmark Your Bet</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1.00, minimum-scale = 0.25, maximum-scale = 1.60">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css' rel='stylesheet' type='text/css' />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "application.js"%>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/simplemodal/1.4.4/jquery.simplemodal.min.js"%>
    <%= csrf_meta_tags %>
    <meta name="description" content="Benchmark Your Bet is a free web application aimed at people who enjoy betting, it helps them to make a more informed decision on what to vote for, rather than assuming the bookies’ odds.">
</head>
<body>
    <div id="left">
        <%= link_to image_tag("logo.png", alt: "Benchmark Your Bet"), {:controller => '/pages', :action => 'home'}, {:class => 'websiteLogo'} %>
        
        <div class="headerWrap">
            <div id="user-greeting">
                <% if user_signed_in? %>
                <p><%= hello_greeting() %> <%= current_user.email %>, <br> Not you? <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>.</p>
                <% end %>
            </div>
            <div id="nav-trigger"><i class="fa fa-bars fa-3x"></i></div>
            <ul class="nav">
                <div id="nav-back"><i class="fa fa-times fa-3x"></i></div>
                <li><i class="fa fa-home fa-2x"></i> <%= link_to 'Home Page', {:controller => '/pages', :action => 'home'} %></li>
                <li><i class="fa fa-list-ul fa-2x"></i> <%= link_to 'Main Feed', {:controller => '/questions', :action => 'index'} %></li>
                <li><i class="fa fa-info-circle fa-2x"></i> <%= link_to 'About', {:controller => '/pages', :action => 'about'} %></li>
                <% if user_signed_in? %>
                    <li><i class="fa fa-user fa-2x"></i> <%= link_to 'Profile Settings', edit_user_registration_path %></li>
                    <li><i class="fa fa-sign-out fa-2x"></i> <%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                <% else %>
                <li><i class="fa fa-sign-in fa-2x"></i> <%= link_to 'Log In', new_user_session_path, method: :get %></li>
                <li><i class="fa fa-user-plus fa-2x"></i> <%= link_to 'Free Sign Up', new_user_registration_path %></li>
                <% end %>
            </ul>
        </div>
        
    </div>
    <div id="content">
        <div id="alerts-wrapper">
            <div class="notice"><%= notice %></div>
            <div class="alert"><%= alert %></div>
        </div>
        <%= yield %>
    </div>
</body>
</html>
